<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
         http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-2.5.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <bean id="oneUser" class="com.baidu.langshiquan.ioc.User">
        <property name="id" value="1"/>
        <property name="name" value="lsq"/>
    </bean>

    <bean id="secondUser" class="com.baidu.langshiquan.ioc.User">
        <constructor-arg index="0" value="2"></constructor-arg>
        <constructor-arg index="1" value="lsq"></constructor-arg>
    </bean>

    <!--默认单例-->
    <bean id="singleUser" class="com.baidu.langshiquan.ioc.User" scope="singleton">
        <constructor-arg index="0" value="2"></constructor-arg>
        <constructor-arg index="1" value="lsq"></constructor-arg>
    </bean>

    <!--多例-->
    <bean id="prototypeUser" class="com.baidu.langshiquan.ioc.User" scope="prototype">
        <constructor-arg index="0" value="2"></constructor-arg>
        <constructor-arg index="1" value="lsq"></constructor-arg>
    </bean>
    <!-- init-method="init" -->
    <!-- 延时加载 -->
    <bean id="simpleBean" class="com.baidu.langshiquan.ioc.SimpleBean" lazy-init="true"/>

    <bean id="lifeCycleBean" class="com.baidu.langshiquan.ioc.LifeCycleBean"/>

    <bean id="resourceBean" class="com.baidu.langshiquan.ioc.ResourceBean"/>
</beans>